
.white_theme {height: 300px; width: 100%; background-color: #eee}
.dark_theme  {height: 300px; width: 100%; background-color: #222 ; position: relative;}

/*------------------------------------------ .General Settings */
.social-box {
  font-size: 0;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.social-icon  {
  display: inline-block;
  background-color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin: 0 7px;
  text-align: center;
  position: relative;
  overflow: hidden;
  opacity: .99;
  border-radius: 2%;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
  transition: all 0.35s /*cubic-bezier(0.31, -0.105, 0.43, 1.59)*/;
}

/*------------------------------------------ .dark_theme1 */
.dark_theme1{margin: 5% auto;}

.dark_theme1 a{
  border-radius: 15%;
  transition: all .3s ease;
  background-color: #333;
}

.dark_theme1 a:before {
  content: '';
  width: 150%;
  height: 150%;
  position: absolute;
  top: 90%;
  left: -140%;
  transform: rotate(45deg);
  transition: all 0.35s;
  z-index: -10;
}

.dark_theme1 a svg, .dark_theme2 a svg {
  z-index: 10;
  vertical-align: middle;
}

.dark_theme1 a:hover:before {
  top: -22%;
  left: -22%;
}

.dark_theme1 a:hover svg path {fill:#fff;}

.dark_theme1 a.twitter:before    {background-color: #00aced;}
.dark_theme1 a.telegram:before   {background-color: #0088cc;}
.dark_theme1 a.google_plus:before{background-color: #dd4b39;}
.dark_theme1 a.facebook:before   {background-color: #3b5998;}
.dark_theme1 a.linkedin:before   {background-color: #0077B5;}
.dark_theme1 a.rss:before        {background-color: #e68523;}

/*------------------------------------------ .dark_theme2 */
.dark_theme2 {margin: 12% auto;}

.dark_theme2   svg path {fill:#fff;}
.dark_theme2 a svg path {transition: all .2s}

.dark_theme2 a {background-color:rgba(0, 0, 0, 0);}

.dark_theme2 a.twitter:hover .twitter_path         {fill: #00aced;}
.dark_theme2 a.telegram:hover .telegram_path       {fill: #0088cc;}
.dark_theme2 a.google_plus:hover .google_plus_path {fill: #dd4b39;}
.dark_theme2 a.facebook:hover .facebook_path       {fill: #3b5998;}
.dark_theme2 a.linkedin:hover .linkedin_path       {fill: #0077B5;}
.dark_theme2 a.rss:hover .rss_path                 {fill: #e68523;}

/*------------------------------------------ .white_theme1 */
.white_theme1 {margin: 5% auto;}

.white_theme1 a{
  border-radius: 15%;
  transition: all .5s ease;
}

.white_theme1 a svg path {fill:#fff;}
.white_theme1 a svg, .white_theme2 a svg {z-index: 10;vertical-align: middle;}

.white_theme1 a.twitter     {background-color: #00aced;}
.white_theme1 a.telegram    {background-color: #0088cc;}
.white_theme1 a.google_plus {background-color: #dd4b39;}
.white_theme1 a.facebook    {background-color: #3b5998;}
.white_theme1 a.linkedin    {background-color: #0077B5;}
.white_theme1 a.rss         {background-color: #e68523;}

.white_theme1 a:hover       {background-color:rgba(0, 0, 0, 0);}

.white_theme1 a.twitter:hover     svg path {fill: #00aced;}
.white_theme1 a.telegram:hover    svg path {fill: #0088cc;}
.white_theme1 a.google_plus:hover svg path {fill: #dd4b39;}
.white_theme1 a.facebook:hover    svg path {fill: #3b5998;}
.white_theme1 a.linkedin:hover    svg path {fill: #0077B5;}
.white_theme1 a.rss:hover         svg path {fill: #e68523;}

/*------------------------------------------ .white_theme1 */
.white_theme2 {margin: 12% auto;}

.white_theme2 a {border-radius: 15%; background-color:rgba(0, 0, 0, 0);}

.white_theme2 a:hover svg path {fill: #fff;}

.white_theme2 a.twitter:hover     {background-color: #00aced;}
.white_theme2 a.telegram:hover    {background-color: #0088cc;}
.white_theme2 a.google_plus:hover {background-color: #dd4b39;}
.white_theme2 a.facebook:hover    {background-color: #3b5998;}
.white_theme2 a.linkedin:hover    {background-color: #0077B5;}
.white_theme2 a.rss:hover         {background-color: #e68523;}